<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Home V.2 - Rotors - Car Rental HTML5 Template</title>

        {% extends 'base.html' %}

        {% load static %}

	</head>

	<body>

    {% block content %}

		<!-- main body - start
		================================================== -->
		<main class="mt-0">


			<!-- slider_section - start
			================================================== -->
			<section class="slider_section text-white text-center position-relative clearfix">
				<div class="main_slider clearfix">

                    {% for f_car in featured %}
                        <div class="item has_overlay d-flex align-items-center" data-bg-image="{{MEDIA_URL}}{{f_car.images.first.image_url}}">
                            <div class="overlay"></div>
                            <div class="container">

                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="slider_content text-center">
                                            <h3 class="text-white text-uppercase" data-animation="fadeInUp" data-delay=".3s">{{ f_car.brand }} {{ f_car.car_model }}</h3>
    {#										<p data-animation="fadeInUp" data-delay=".5s">#}
    {#											6.6L V8 32V DDI OHV Turbo Diesel, 5-Speed Automatic, Fuel Type: Diesel, Color: Black#}
    {#										</p>#}
                                            <div class="abtn_wrap clearfix" data-animation="fadeInUp" data-delay=".7s">
                                                <a class="custom_btn bg_default_red btn_width text-uppercase" href="{%  url 'car_details' id=f_car.id %}">Book Now <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
				</div>

				<div class="carousel_nav clearfix">
					<button type="button" class="main_left_arrow"><i class="fal fa-chevron-left"></i></button>
					<button type="button" class="main_right_arrow"><i class="fal fa-chevron-right"></i></button>
				</div>
			</section>
			<!-- slider_section - end
			================================================== -->


			<!-- search_section - start
			================================================== -->
{#			<section class="search_section clearfix">#}
{#				<div class="container">#}
{#					<div class="advance_search_form2" data-bg-color="#161829" data-aos="fade-up" data-aos-delay="100">#}
{#						<form action="#">#}
{#							<div class="row align-items-end">#}
{##}
{#								<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">#}
{#									<div class="form_item">#}
{#										<h4 class="input_title text-white">Pickup Date</h4>#}
{#										<input type="date" name="date">#}
{#									</div>#}
{#								</div>#}
{##}
{#                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">#}
{#									<div class="form_item">#}
{#										<h4 class="input_title text-white">Return Date</h4>#}
{#										<input type="date" name="date">#}
{#									</div>#}
{#								</div>#}
{##}
{#								<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">#}
{#									<div class="price-range-area clearfix">#}
{#										<h4 class="input_title text-white">Price</h4>#}
{#										<div id="slider-range" class="slider-range clearfix"></div>#}
{#										<input class="price-text" type="text" id="amount" readonly>#}
{#									</div>#}
{#								</div>#}
{##}
{#								<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">#}
{#									<button type="submit" class="custom_btn bg_default_red text-uppercase">Find A Car <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></button>#}
{#								</div>#}
{#							</div>#}
{#						</form>#}
{#					</div>#}
{#				</div>#}
{#			</section>#}
			<!-- search_section - end
			================================================== -->


			<!-- feature_section - start
			================================================== -->
			<section class="feature_section sec_ptb_150 clearfix">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
							<div class="section_title mb_60 text-center" data-aos="fade-up" data-aos-delay="100">
								<h2 class="title_text mb_15">
									<span>Latest Vehicles</span>
								</h2>
								<p class="mb-0">
									Mauris cursus quis lorem sed cursus. Aenean aliquam pellentesque magna, ut dictum ex pellentesque
								</p>
							</div>
						</div>
					</div>


					<div class="feature_vehicle_filter element-grid clearfix">

                        {% for l_car in latest %}

                            <div class="element-item sedan " data-category="sedan">
                                <div class="feature_vehicle_item" data-aos="fade-up" data-aos-delay="100">
                                    <h3 class="item_title mb-0">
                                        <a href="#!">
                                            {{ l_car.brand }} {{ l_car.car_model }}
                                        </a>
                                    </h3>
                                    <div class="item_image position-relative">
                                        <a class="image_wrap" href="{%  url 'car_details' id=l_car.id %}">
                                            <img src="{{MEDIA_URL}}{{l_car.images.first.image_url}}" alt="image_not_found">
                                        </a>
                                        <span class="item_price bg_default_blue">${{ l_car.rent_price }}/Day</span>
                                    </div>
                                    <ul class="info_list ul_li_center clearfix">
                                        <li>{{ l_car.type }}</li>
                                        <li>{{ l_car.transmission }}</li>
                                        <li>{{ l_car.seats }} Passengers</li>
                                        <li>{{ l_car.fuel }}</li>
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}

					</div>
				</div>
			</section>
			<!-- feature_section - end
			================================================== -->


			<hr class="m-0" data-aos="fade-up" data-aos-delay="100">


		</main>
		<!-- main body - end
		================================================== -->

    {% endblock content %}
		
	</body>
</html>