<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Our Cars - Rotors - Car Rental HTML5 Template</title>

        {% extends 'base.html' %}

        {% load static %}

	</head>

	<body>

    {% block content %}

		<!-- main body - start
		================================================== -->
		<main>


			<!-- breadcrumb_section - start
			================================================== -->
			<section class="breadcrumb_section text-center clearfix">
				<div class="page_title_area has_overlay d-flex align-items-center clearfix" data-bg-image="assets/images/breadcrumb/bg_01.jpg">
					<div class="overlay"></div>
					<div class="container" data-aos="fade-up" data-aos-delay="100">
						<h1 class="page_title text-white mb-0">Our cars</h1>
					</div>
				</div>
				<div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
					<div class="container">
						<ul class="ul_li clearfix">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li>Our Cars</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- breadcrumb_section - end
			================================================== -->


			<!-- car_section - start
			================================================== -->
			<div class="car_section sec_ptb_100 clearfix">
				<div class="container">
					<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

						<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
							<aside class="filter_sidebar sidebar_section" data-bg-color="#F2F2F2">
								<div class="sidebar_header" data-bg-gradient="linear-gradient(90deg, #0C0C0F, #292D45)">
									<h3 class="text-white mb-0">Filters</h3>
								</div>
								<div class="sb_widget">
									<form action="#">
										<div class="form_item">
												<h4 class="input_title">Price</h4>
												<input type="number" name="search_rent_price">
											</div>

										<div class="sb_widget car_picking" data-aos="fade-up" data-aos-delay="100">

{#                                            <div class="form_item">#}
{#												<h4 class="input_title">Pickup</h4>#}
{#												<input type="date" name="search_pickup">#}
{#											</div>#}
{##}
{#                                            <div class="form_item">#}
{#												<h4 class="input_title">Return Date</h4>#}
{#												<input type="date" name="search_return">#}
{#											</div>#}

                                            <div class="form_item">
												<h4 class="input_title">Brand</h4>
												<input type="text" name="search_brand">
											</div>

											<div class="form_item">
												<h4 class="input_title">Year</h4>
												<input type="number" name="search_year">
											</div>

										</div>

										<div class="sb_widget" data-aos="fade-up" data-aos-delay="100">
											<h4 class="input_title">Transmission:</h4>
											<div class="form_item">
                                                <select name="search_transmission" id="search_transmission">
                                                        <option></option>
                                                        <option value="Automatic">Automatic</option>
                                                        <option value="Manual">Manual</option>
                                                </select>
                                                <br>
											</div>

										<div class="sb_widget" data-aos="fade-up" data-aos-delay="100">
                                            <h4 class="input_title">Seats:</h4>
											<div class="form_item">
												<select>
                                                    <option></option>
													<option value="1">2</option>
													<option value="2">4</option>
													<option value="3">5</option>
													<option value="4">6</option>
													<option value="4">7</option>
													<option value="4">8</option>
													<option value="4">10</option>
												</select>
											</div>

										<hr data-aos="fade-up" data-aos-delay="100">

										<div data-aos="fade-up" data-aos-delay="100">
											<button type="submit" class="custom_btn bg_default_red text-uppercase">Apply Filters <img src="{% static 'assets/images/icons/icon_01.png' %}" alt="icon_not_found"></button>
										</div>
                                        </div>
            </div>
									</form>
								</div>
							</aside>
						</div>

						<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
							<div class="item_shorting clearfix" data-aos="fade-up" data-aos-delay="100">
								<div class="row align-items-center justify-content-lg-between">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<span class="item_available">Available offers 26</span>
									</div>
								</div>
							</div>

							<div class="row">
                                {% for car in c_list %}
								<div class="col-lg-6 col-md-6">
									<div class="feature_vehicle_item" data-aos="fade-up" data-aos-delay="100">
										<h3 class="item_title mb-0">
											<a href="{%  url 'car_details' id=car.id %}">
												{{ car.brand }} {{ car.car_model }}
											</a>
										</h3>
										<div class="item_image position-relative">
											<a class="image_wrap" href="{%  url 'car_details' id=car.id %}">
												<img src="{{MEDIA_URL}}{{car.images.first.image_url}}" alt="image_not_found">
											</a>
											<span class="item_price bg_default_blue">${{ car.rent_price }}/Day</span>
										</div>
										<ul class="info_list ul_li_center clearfix">
											<li>{{ car.type }}</li>
											<li>{{ car.transmission }}</li>
											<li>{{ car.seats }} seats</li>
											<li>{{ car.fuel }}</li>
										</ul>
									</div>
                                </div>
                                {% endfor %}
								</div>

							<div class="pagination_wrap clearfix" data-aos="fade-up" data-aos-delay="100">
								<div class="row align-items-center justify-content-lg-between">

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<span class="page_number">
                                            {% if c_list.has_previous %}
                                                <a href="?page=1
                                                    {% if search_brand %}&search_brand={{ search_brand }}{% endif %}
                                                    {% if search_year %}&search_year={{ search_year }}{% endif %}
                                                    {% if search_seats %}&search_seats={{ search_seats }}{% endif %}
                                                    {% if search_transmission %}&search_transmission={{ search_transmission }}{% endif %}
                                                    {% if search_rent_price %}&search_rent_price={{ search_rentprice }}{% endif %}">
                                                    &laquo; First
                                                </a>
                                                <a href="?page={{ c_list.previous_page_number }}
                                                    {% if search_brand %}&search_brand={{ search_brand }}{% endif %}
                                                    {% if search_year %}&search_year={{ search_year }}{% endif %}
                                                    {% if search_seats %}&search_seats={{ search_seats }}{% endif %}
                                                    {% if search_transmission %}&search_transmission={{ search_transmission }}{% endif %}
                                                    {% if search_rent_price %}&search_rent_price={{ search_rentprice }}{% endif %}">
                                                    Previous
                                                </a>
                                            {% endif %}
                                        </span>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<span class="page_number">
                                            Page {{ c_list.number }} of {{ c_list.paginator.num_pages }}
                                        </span>
									</div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<span class="page_number">
                                            {% if c_list.has_next %}
                                                <a href="?page={{ c_list.next_page_number }}
                                                    {% if search_brand %}&search_brand={{ search_brand }}{% endif %}
                                                    {% if search_year %}&search_year={{ search_year }}{% endif %}
                                                    {% if search_seats %}&search_seats={{ search_seats }}{% endif %}
                                                    {% if search_transmission %}&search_transmission={{ search_transmission }}{% endif %}
                                                    {% if search_rent_price %}&search_rent_price={{ search_rentprice }}{% endif %}">
                                                    Next
                                                </a>
                                                <a href="?page={{ c_list.paginator.num_pages }}
                                                    {% if search_brand %}&search_brand={{ search_brand }}{% endif %}
                                                    {% if search_year %}&search_year={{ search_year }}{% endif %}
                                                    {% if search_seats %}&search_seats={{ search_seats }}{% endif %}
                                                    {% if search_transmission %}&search_transmission={{ search_transmission }}{% endif %}
                                                    {% if search_rent_price %}&search_rent_price={{ search_rentprice }}{% endif %}">
                                                    Last &raquo;
                                                </a>
                                            {% endif %}
                                        </span>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- car_section - end
			================================================== -->


		</main>
		<!-- main body - end
		================================================== -->

	{% endblock content %}

	</body>
</html>