<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Creation Form</title>

    {% extends 'base.html' %}

    {% load static %}

</head>
<body>

    {% block content %}

        <br><br><br><br>

        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form_0.as_p }}

                <br>

                <label for="id_image_url_one">Image One: </label>
                <input type="file" name="image_url_one" accept="image/*" id="id_image_url_one">

                <br>

                <label for="id_image_url_two">Image Two: </label>
                <input type="file" name="image_url_two" accept="image/*" id="id_image_url_two">

                <br>

                <label for="id_image_url_three">Image Three: </label>
                <input type="file" name="image_url_three" accept="image/*" id="id_image_url_three">

                <br>

                <input type="submit" value="Submit">

            </form>
        </div>

        <br>


{#        <br><br><br><br>#}
{##}
{#        <form method="POST" action="">#}
{#            {% csrf_token %}#}
{##}
{#            <label for="post_brand">Car Brand</label>#}
{#            <input type="text" name="post_brand">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_car_model">Car Model</label>#}
{#            <input type="text" name="post_car_model">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_type">Type</label>#}
{#            <input type="text" name="post_type">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_year">Year</label>#}
{#            <input type="number" name="post_year">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_engine">Engine</label>#}
{#            <input type="text" name="post_seats">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_seats">Seats</label>#}
{#            <input type="number" name="post_seats">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_transmission">Transmission</label>#}
{#            <input type="text" name="post_transmission">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_fuel">Fuel</label>#}
{#            <input type="text" name="post_fuel">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_rent_price">Rent Price</label>#}
{#            <input type="text" name="post_rent_price">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_f_img">Front Image</label>#}
{#            <input#}
{#                    type="file"#}
{#                    name="post_f_img"#}
{#                    alt="image not found"#}
{#                    accept="image/*"#}
{#                    width="100" height="100"#}
{#            >#}
{##}
{#            <br>#}
{##}
{#            <label for="post_s_image">Side Image</label>#}
{#            <input type="file" name="post_s_img" alt="image not found" accept="image/*" width="100" height="100">#}
{##}
{#            <br>#}
{##}
{#            <label for="post_b_img">Back Image</label>#}
{#            <input type="file" name="post_b_img" alt="image not found" accept="image/*" width="100" height="100">#}
{##}
{#            <br>#}

        </form>

        <br>

{% endblock content %}

</body>
</html>